/*main*/
.do-all{padding-top:50px;max-height:356px;}
.do-all:hover{background: #5cc9df;color: #fff;}
.do-all:hover .do-p-all{color:#fff;}
.icon-box{padding-bottom:30px;}
.icon-pages{font-size:70px;}
.do-p-all{color:#000;font-size:30px;}
.do-p-a2{text-indent:2em;font-size:17px;}
/*end*/

/*about*/
#about-shadow{padding-top: 30px}
#about-shadow:hover{box-shadow: 1px 4px 30px;transition:all 0.3s linear;}
.about-img1{margin:0 auto;cursor:pointer;border-radius:50%;}
.about-img2{margin:0 auto;cursor:pointer; border-radius:50%;}
.about-span1{color:#333;font-size:30px;}
.about-span2{color:#333;font-size:30px;}
.about-h5-one{margin-bottom:0px;}
.about-content{text-indent:2em;}
.about-modal-mar{margin-top:160px;}
/*end*/
#featured-area {

	height: 337px;
	width: 950px; padding-top:50px;
	margin:0px auto;
}
#featured-area img{ border:none}


.roundabout-holder {
	list-style:none; 
	width:100%; 
	height:100%; 
	margin:0px auto;
}

.roundabout-moveable-item {
	font-size:12px!important;
	height:450px; width:1000px;
	cursor:pointer; padding:5px;
	border:1px solid #aaaaaa;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	background:#f9f9f9;
}

.roundabout-moveable-item img {
	height:100%;
	width:100%;
	background-color:#FFFFFF;
	margin:0;
}

.roundabout-in-focus {
	cursor:auto;
}

.roundabout-in-focus:hover {
	-webkit-box-shadow:0px 0px 20px #787878;
	-moz-box-shadow:0px 0px 20px #787878;
	background:#f9f9f9;
}
.roundabout a:active, .roundabout a:focus, .roundabout a:visited {
	outline:none;
	text-decoration:none;
}

.roundabout li {
	margin:0
}
