

.border-right{border-right:1px solid red;position: relative;}
.title-box{position:absolute;top:0px;left:23%;}
.titile-right1{color: #ec2c2c;font-size:20px;margin-left: 10px;margin-bottom: 0px;margin-top: 20px;}
.titile-right2{color: #777;font-size:18px;margin-left: 10px;}

@media (max-width: 768px) { 
		.titile-right1{display: none;}
		.titile-right2{display: none;}
		.border-right{border:none;}
}
/*解决方案*/

	.do-all{padding-top:50px;max-height:400px;height: 400px; box-shadow: 1px 1px 20px;}
	.all1{border-top-left-radius:15px; border-bottom-left-radius:15px;}
	.all4{border-top-right-radius:15px; border-bottom-right-radius:15px;}
	.do-all:hover{background: #38A5DB;color: #fff;}
	.do-all:hover .do-p-all{color:#fff;}
	.do-all:hover .icon-pages{color: #fff;}
	.icon-pages{font-size:70px;color: #38A5DB;}
	.do-all:hover .all1-head{color:#fff;}
	.icon-box{padding-bottom:30px;}
	.do-p-a2{text-indent:2em;font-size: 14px;line-height: 25px;}
	.more-box-span1{display:block;color:#777; letter-spacing: 5px;}
	.more-box-p2{color:#ec2c2c;}

	/*公用样式*/
	.title-large{font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;font-weight: 300;}
	.b-large{font-size:45px;}
	.b-large1{color: #FFC125;}
	.b-large2{color: #636363;}
	.b-all-money{color:#FFC125;}
	.b-all-land{color: #636363;}
	.more-all-spans{display:block;font-size:15px;}
	.more-all-headp{font-weight:700;}
		.more-all-headp span{ background: #3399ff;color: #fff;font-size:25px;padding: 0 10px;}
	.more-lineheight{line-height: 25px;}
	.font_hover:hover{background: #ccc}
	/*互联网+*/
	.more-net-box{padding-top: 40px;}
	.more-money-box{padding-top: 30px}
	.more-land-box{padding-top: 45px;}
	.more-good-box{padding-top: }
	/*更赚钱*/
	
	.more-money-box{padding-top: 50px;}
	/*更落地*/
	.more-land{margin-top:30px;}
	/*好口碑*/
	
	.more-good-img{padding-top: 30px;}
	.good-num{font-size: 50px;line-height: 40px;}

/*end*/
	/* 添加滑动效果 */
		.scroll-col{postion:absolute;left:0;}
	/*end*/
/*about*/

	#about-shadow{padding-top: 30px}
	#about-shadow:hover{box-shadow: 1px 4px 30px;transition:all 0.3s linear;}
	.about-img1{margin:0 auto;cursor:pointer;border-radius:50%;}
	.about-img2{margin:0 auto;cursor:pointer; border-radius:50%;}
	.about-span1{color:#333;}
	.about-span2{color:#333;}
	.about-h5-one{margin-bottom:0px;}
	.about-content{text-indent:2em;}
	.about-modal-mar{margin-top:160px;}
/*server_s*/
#featured-area {
	width:80%;
	height:250px;
	padding-top:50px;
	margin:0 auto;
}
#featured-area img{
 border:none;
	width:100%;
	height:100%;
}
/*server_end*/
/*banner_s*/

#sequence .sequence-canvas .delay1 {
  transition-delay:1s;
}

#sequence .sequence-canvas .delay2 {
  transition-delay:1.4s;
}

#sequence .sequence-canvas .delay3 {
  transition-delay:1.8s;
}

#sequence .sequence-canvas .delay4 {
  transition-delay:2.2s;
}

#sequence .sequence-canvas .delay5 {
  transition-delay:2.6s;
}

#sequence .sequence-canvas .delay6 {
  transition-delay:3.0s;
}

#sequence .sequence-canvas .delay7 {
  transition-delay:3.4s;
}

#sequence .sequence-canvas .delay8{
  transition-delay:3.8s;
}

#sequence .sequence-canvas .delay9{
  transition-delay:4.2s;
}
/*banner_end*/

/* index footer add start*/
	.add-icon-color{color:#fff;}
	.add-about-size{font-size: 15px;color: #666;letter-spacing: 1px ;}
	.add-about-li{letter-spacing: 1px ;line-height: 25px; font-size: 15px;list-style: inside;}
	.add-about-left{border-left: 5px solid #dfdfdf;padding-left: 20px;}
	.add-about-heng::before{content: '\2014 \00A0';}
/* index footer add end*/



/*end

#about-shadow{padding-top: 30px}
#about-shadow:hover{box-shadow: 1px 4px 30px;transition:all 0.3s linear;}
.about-img1{margin:0 auto;cursor:pointer;border-radius:50%;}
.about-img2{margin:0 auto;cursor:pointer; border-radius:50%;}
.about-span1{color:#333;font-size:30px;}
.about-span2{color:#333;font-size:30px;}
.about-h5-one{margin-bottom:0px;}
.about-content{text-indent:2em;}
.about-modal-mar{margin-top:160px;}
/*end*/


