	/*解决方案*/
	.do-all{padding-top:50px;max-height:400px;height: 400px; box-shadow: 1px 1px 20px;}
	.all1{border-top-left-radius:15px; border-bottom-left-radius:15px;}
	.all4{border-top-right-radius:15px; border-bottom-right-radius:15px;}
	.do-all:hover{background: #38A5DB;color: #fff;}
	.do-all:hover .do-p-all{color:#fff;}
	.do-all:hover .icon-pages{color: #fff;}
	.icon-pages{font-size:70px;color: #38A5DB;}
	.do-all:hover .all1-head{color:#fff;}
	.icon-box{padding-bottom:30px;}
	.do-p-a2{text-indent:2em;}
	.more-box-span1{display:block;}
	.more-box-p2{color:#ec2c2c;}
	/*公用样式*/
	.more-all-head{color:#ec2c2c;}
	.more-all-spans{display:block;}
	.more-all-headp{}
	.more-lineheight{line-height: 25px;}
	/*互联网+*/
	.more-net-box{padding-top: 40px;}
	.more-money-box{padding-top: 30px}
	.more-land-box{padding-top: 45px;}
	.more-good-box{padding-top: }
	/*更赚钱*/
	.more-money{margin-top:30px;padding-top:20px; background:;}
	.more-money-box{padding-top: 50px;}
	/*更落地*/
	.more-land{margin-top:30px;}
	/*好口碑*/
	.more-good{margin-top:30px;padding-top:20px}
	.more-good-img{padding-top: 30px;}
	.good-num{font-size: 50px;line-height: 40px;vertical-align:middle;}
	

	
/*end*/

/*about*/
	#about-shadow{padding-top: 30px}
	#about-shadow:hover{box-shadow: 1px 4px 30px;transition:all 0.3s linear;}
	.about-img1{margin:0 auto;cursor:pointer;border-radius:50%;}
	.about-img2{margin:0 auto;cursor:pointer; border-radius:50%;}
	.about-span1{color:#333;}
	.about-span2{color:#333;}
	.about-h5-one{margin-bottom:0px;}
	.about-content{text-indent:2em;}
	.about-modal-mar{margin-top:160px;}
/*end