<div id="sequence-theme">
	<div id="sequence" class="perspective multilayer">
		<ul class="controls">
			<li class="sequence-prev"> <i class="fa fa-angle-left fa-fw"></i>
			</li>
			<li class="sequence-next"> <i class="fa fa-angle-right fa-fw"></i>
			</li>
		</ul>
		<ul class="sequence-canvas container">
			<!-- 循环 -->
			<% Admin::Page.where("`channel_id`='9'").all.each do |page| %>
				<li>
					<div class="message slow">
						<h2 class="title in-from-top slow"><%= page.title %></h2>
						<p class="in-from-bottom slow delay1"><%= page.description %></p>
					</div>
					<div class="perspective-view">
						<div class="image-top in-from-top-z fast">
							<img class="img-responsive" src="/templetes/meetiao/assets/slider/perspective/slide2-layer1.png" alt="" />		
						</div>
						<div class="image-top in-from-top-z fast delay1">
							<img class="img-responsive" src="/templetes/meetiao/assets/slider/perspective/slide2-layer2.png" alt="" />		
						</div>
						<div class="image-top in-from-top-z fast delay2">
							<img class="img-responsive" src="/templetes/meetiao/assets/slider/perspective/slide2-layer3.png" alt="" />		
						</div>
						<div class="image-bottom in-from-top-z fast delay3">
							<img class="img-responsive" src="/templetes/meetiao/assets/slider/perspective/slide2-layer4.png" alt="" />		
						</div>
						<div class="image-bottom in-from-top-z slow delay4">
							<img class="img-responsive" src="/templetes/meetiao/assets/slider/perspective/slide2-layer5.png" alt="" />		
						</div>
						<div class="image-bottom in-from-top-z fast delay4">
							<img class="img-responsive" src="/templetes/meetiao/assets/slider/perspective/slide2-layer6.png" alt="" />		
						</div>
						<div class="image-bottom in-from-top-z fast delay5">
							<img class="img-responsive" src="/templetes/meetiao/assets/slider/perspective/slide2-layer7.png" alt="" />		
						</div>
					</div>
				</li>
			<% end %>
			<!-- 循环end -->
		</ul>
	</div>
</div>
