 
		<!-- ==============================================
		SCRIPTS
		=============================================== -->	
		<% templete_v='/templetes/'+Admin::Keystore.find(id=1).value+'/js'%>
		<script src="<%= templete_v%>/libs/bootstrap.min.js"></script>
		<script src='<%= templete_v%>/jquery.easing.1.3.min.js'></script>
		<script src='<%= templete_v%>/jquery.scrollto.js'></script>
		<script src='<%= templete_v%>/jquery.flexslider.min.js'></script>
		<script src='<%= templete_v%>/jquery.fitvids.js'></script>
		<script src='<%= templete_v%>/jquery.fittext.js'></script>
		<script src="<%= templete_v%>/waypoints.min.js"></script>
		<script src="<%= templete_v%>/jquery.countTo.js"></script>
		<script src="<%= templete_v%>/jquery.easypiechart.js"></script>
		<script src="<%= templete_v%>/jquery.sequence-min.js"></script>
		<script src="<%= templete_v%>/jquery.colorbox-min.js"></script>
		<script src="<%= templete_v%>/contact.js"></script>
		<script src="<%= templete_v%>/qubico.js"></script>
		<script type="text/javascript" src="<%= templete_v%>/te.js"></script>