
 		<!-- ==============================================
		FOOTER
		=============================================== --> 	
		<% al=Admin::Keystore.all %>	
 		<footer id="main-footer" class="color-bg light-typo">
 			<div class=" row ">
 				<div class="col-md-4 text-center">
 					<img src="/templetes/meetiao/assets/two-dimensional code.png" style="max-height:100px;max-width:100px;border:2px solid #ccc;border-radius: 2px; margin:0 auto;"class="img-responsive ">
 					<span>微信公众号</span>
 					<span>|</span>
 					<span>关注美调科技</span>
 				</div>
 				<div class="col-md-4 text-center">
 					<ul class="" style="line-height:30px">
 						<li>公司：<%= al[6].value%></li>
 						<li>地址：<%= al[7].value%></li>
 						
 					
 					<li>
 						&copy;
 						<a href="/home" target="_blank"><%= al[1].value%></a>
 						|
 						<a href="http://www.miibeian.gov.cn/" target="_blank" style=" text-decoration: none;"><%= al[8].value%></a>
 					</li></ul>
 				</div>
 				<div class="col-md-4 text-right">
 						<p class="text-center">
 							<a class="btn btn-qubico white" href="/contact">
 								<i class="fa fa-phone"></i>
 								联系我们
 							</a>
 						</p>
 				</div>
 			</div>
 		</footer>