
 		<!-- ==============================================
		MAIN NAV
		=============================================== --> 		
 		<div id="main-nav" class="navbar navbar-fixed-top" >
 			<div class="container">

 				<div class="navbar-header">

 					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#site-nav">
 						<span class="icon-bar"></span>
 						<span class="icon-bar"></span>
 						<span class="icon-bar"></span>
 					</button>

 					<!-- ======= LOGO ========--> 		
 					<a class="navbar-brand " href="/home" title="回到首页">
 						<span class="to-top"> <i class="fa fa-arrow-up"></i>
 						</span>	
 						<img class="img-responsive " src="/templetes/<%=Admin::Keystore.find(id=1).value%>/img/logo1.png" alt="logo" style="width: 150px;height: 60px;"/>			
 					</a>
 					<span style="line-height: 50px;padding-right:5px;border-right: 3px solid #000;">美调科技</span><span style="padding-left:5px;">呵呵哈哈哈</span>
 				</div>
 				<div id="site-nav" class="navbar-collapse collapse">
 					<ul class="nav navbar-nav navbar-right">
 						<% Admin::Channel.all.each do |channel| %>
 						<% if  channel.short_title=="home"%>
								<li class="nav nav-tabs">
									<li role="presentation" class="dropdown">
									<a class="dropdown-toggle" data-toggle="dropdown" href="<%= get_url(channel)%>" role="button" aria-haspopup="true" aria-expanded="false" id="run_hom">
									<%=channel.title%> <span class="caret"></span>
									</a>
									<ul class="dropdown-menu text-center">
										<% Admin::Channel.where(id:[2,3,4]).each do |page|%>
										<li><a href="/home#<%= page.short_title%>" class="scrollto"><%=page.title%></a></li>
										<% end %>
									</ul>
									</li>
								</li>
	 					<% else %>
	 						<li>
								<a href="<%= get_url(channel)%>"><%= channel.title %></a>
	 						</li>
 						<% end ;end%>

 						</ul>
 				</div>
 			</div>
 		</div>