			<section id="team" class="white-bg padding-top-bottom">
				<div class="container">
					<h1 class="section-title">
						<%= @channel.title %></h1>
					<p class="section-description"></p>
					<div class="row team-member">
						<div class="col-sm-3 col-sm-offset-1 member-thumb scrollimation fade-right">
							<img class="img-responsive img-center" src="<%= page.image_path %>			
							" alt="" />
							<h4>
								<%= page.title %></h4>
						</div>
						<div class="col-sm-7 scrollimation fade-left">
							<div class="member-details">
								<p>
									<%= page.description %>
								</p>
							</div>
						</div>
					</div>
				</div>
			</section>

			<div class="online" style="width: 1180px;overflow: hidden;margin: auto;">
				<ul>
					<li>
						<div class="img" style="float: left;text-align: center;width: 70px;height: 70px;">
							<a href="" title="刘贝锋" target="_blank">
								<img src="/uploads/201602/15/201602151806411010.jpg" title="刘贝锋" alt="刘贝锋" style="    border: 2px solid #fff;border-radius: 50%;width: 70px;height: 70px;"></a>
							<span style="list-style: none;margin: 0;padding: 0;font-weight: normal;">
								<a href="http://wpa.qq.com/msgrd?v=3&amp;site=qq&amp;menu=yes&amp;uin=490946159" title="刘贝锋" target="_blank" style="display: block;color: #fff;font-size: 14px;width: 75px;height: 20px;background: #ff923f;">刘贝锋</a>
							</span>
						</div>
						<div class="info" style="float: right; text-align: center; line-height: 20px; padding-top: 35px;">
							<a href="http://wpa.qq.com/msgrd?v=3&amp;site=qq&amp;menu=yes&amp;uin=490946159" title="高级客户经理" target="_blank" style="display: block;font-size: 14px;width: 165px;height: 20px;color: #fff;background: #da251c;text-align: center;">高级客户经理</a>
							<p style="width: 165px;height: 20px;text-align: center;font-size: 14px;background: #fff;">029-89321088</p>
							<P>罗浩</P>
							<span style="list-style: none;margin: 0;padding: 0;font-weight: normal;">|---本人接听---|</span>
						</div>
					</li>
				</ul>
			</div>