<%= render file:  'public/templetes/'+@templete+'/_header.html' %>
<%= render file:  'public/templetes/'+@templete+'/_right.html' %>
<% nav_id=Admin::Channel.where(id:[1,2,3,4]).map(&:short_title) %>

		<!-- ==============================================
		HEADER -V-0415
		=============================================== -->		
<header id="<%= nav_id[0]%>" class="jumbotron">

	<div id="sequence-theme">

		<div id="sequence" class="perspective multilayer">

			<ul class="controls">
				<li class="sequence-prev"> <i class="fa fa-angle-left fa-fw"></i>
				</li>
				<li class="sequence-next"> <i class="fa fa-angle-right fa-fw"></i>
				</li>
			</ul>
			<ul class="sequence-canvas container">
				<li>
					<div class="message slow">
						<h2 class="title in-from-top slow">专注<b>餐饮</b>20年</h2>
						<h3 class="in-from-bottom slow delay1">美调科技是国内首家专注于餐饮供应链企业互联网营销系统建设的互联网公司。</h3>							
					</div>
					<div class="perspective-view view1">
						<div class="single-image in-from-top-z fast">
							<img class="img-responsive" src="/templetes/<%= @templete%>/assets/slider/perspective/slide1-layer1.png" alt=""style="transform:scale(1.3)" />		
						</div>
						<div class="single-image in-from-top-z fast delay1">
							<img class="img-responsive" src="/templetes/<%= @templete%>/assets/slider/perspective/slide1-layer2.png" alt="" style="transform:scale(1.5)"/>		
						</div>
						<div class="single-image in-from-top-z fast delay2">
							<img class="img-responsive" src="/templetes/<%= @templete%>/assets/slider/perspective/slide1-layer3.png" alt="" style="transform:scale(1.7)"/>		
						</div>
						<div class="single-image in-from-top-z fast delay3">
							<img class="img-responsive" src="/templetes/<%= @templete%>/assets/slider/perspective/slide1-layer4.png" alt="" style="transform:scale(1.9)"/>		
						</div>
						
					</div>
				</li>
				<li>
					<div class="message slow">
						<h2 class="title in-from-left slow">领军<b>互联网+</b></h2>
						<h3 class="in-from-bottom slow delay1">美调让您的企业迅速玩转互联网，为您提供建站﹢推广﹢孵化代运营一站式服务。</h3>
					</div>
					<div class="perspective-view view2">
						<div class="single-image in-from-top-z fast">
							<img class="img-responsive" src="/templetes/<%= @templete%>/assets/slider/perspective/slide2-layer1.png" alt="" style="transform:scale(1.3)"/>		
						</div>
						<div class="single-image in-from-top-z fast delay1">
							<img class="img-responsive" src="/templetes/<%= @templete%>/assets/slider/perspective/slide2-layer2.png" alt="" style="transform:scale(1.3)"/>		
						</div>
						<div class="single-image in-from-top-z fast delay2">
							<img class="img-responsive" src="/templetes/<%= @templete%>/assets/slider/perspective/slide2-layer3.png" alt="" style="transform:scale(1.3)"/>		
						</div>
						<div class="single-image in-from-top-z fast delay3">
							<img class="img-responsive" src="/templetes/<%= @templete%>/assets/slider/perspective/slide2-layer4.png" alt="" style="transform:scale(1.3)"/>		
						</div>
					</div>
				</li>
				<li>
					<div class="message slow">
						<h2 class="title in-from-right slow">餐饮营销<b>转型</b></h2>
						<h3 class="in-from-bottom slow delay1">美调致力于打造最专业的餐饮互联网营销解决方案，准确定位，快速推广，提高流量。
						</h3>
					</div>
					<div class="perspective-view view3">
						

						<div class="single-image in-from-top-z fast delay1">
							<img class="img-responsive" src="/templetes/<%= @templete%>/assets/slider/perspective/slide3-layer1.png" alt="" />		
						</div>
						<div class="single-image in-from-top-z fast delay2">
							<img class="img-responsive" src="/templetes/<%= @templete%>/assets/slider/perspective/slide3-layer2.png" alt="" />		
						</div>
						<div class="single-image in-from-top-z fast delay3">
							<img class="img-responsive" src="/templetes/<%= @templete%>/assets/slider/perspective/slide3-layer3.png" alt="" />		
						</div>						
					</div>
				</li>
			</ul>
		</div>
	</div>
</header>
		<!--End header -->		
<div style="overflow:auto;overflow-x: hidden;">

	<!-- ==============================================
	打造更省钱 更赚钱的餐饮行业营销型网站
	=============================================== -->	
	<section class="white-bg padding-top-bottom">
			<h2 class="text-center section-title more-box" >
			专注打造<b>餐饮营销网站</b>
			</h2>
			<p class="section-description">
				<span class="more-box-span1">餐饮营销网站始创者、标准制定者</span>
			</p>
		
		<div class="row" style="background:#38A5DB;"><img src="/templetes/<%= @templete%>/assets/imga/can.jpg" class="img-responsive" style="margin:0 auto;"></div>
		<div class="row" style="background:#fff;"><img src="/templetes/<%= @templete%>/assets/imga/land.jpg" class="img-responsive" style="margin:0 auto;"></div>
		<div class="row" style="background:#38A5DB;"><img src="/templetes/<%= @templete%>/assets/imga/money.jpg" class="img-responsive" style="margin:0 auto;"></div>
		<div class="row" style="background:#fff;"><img src="/templetes/<%= @templete%>/assets/imga/good.jpg" class="img-responsive" style="margin:0 auto;"></div>
			 
			
		
	</section>

	<!-- ==============================================
	解决方案	
	=============================================== -->		
	<section class="white-bg padding-top-bottom">
		<div class="container">
			<h2 class="text-center section-title more-box">
				为您提供最有营销力的<b>解决方案</b>
				<p><span>To provide you with the most marketing solutions</span></p>
			</h2>
			<p class="section-description">
				<span class="more-box-span1">
					让您的网络订单
					<b>“<strong>飞</strong>”</b>
					起来
				</span>
			</p>
			<div class="row">
				<div class="col-lg-3 do-all all1">
					<div class="text-center icon-box">
						<i class="fa fa-link icon-pages"></i>
					</div>
					<h3 class="text-center all1-head"><strong>一站式服务</strong></h3>

					<p class="do-p-a2">从网站建设到网络营销启动直至运营，提供1对1专属服务。7X24小时服务随时响应，主动定期的电话回访，跟踪解决客户的问题，网站有问题，我们会协助您解决。</p>

				</div>
				<div class="col-lg-3 do-all">
					<div class="text-center icon-box">
						<i class="fa fa-phone icon-pages"></i>
					</div>
					<h3 class="text-center all1-head"><strong>顾问式服务</strong></h3>
					<p class="do-p-a2">企业在赢利的基础上，建立、维持和促进与顾客和其他伙伴之间的关系，以实现参与各方的目标，从而形成一种兼顾各方利益的长期关系。正确处理企业与这些组织及个人的关系</p>
				</div>
				<div class="col-lg-3 do-all">
					<div class="text-center icon-box">
						<i class="fa fa-group icon-pages"></i>
					</div>
					<h3 class="text-center all1-head"><strong>陪同式服务</strong></h3>
					<p class="do-p-a2">从网站建设到网络营销启动直至运营阶段，提供1对1专属沟通服务。7X24小时服务随时响应，主动并且定期的电话回访，持续跟踪解决客户的问题，只要网站有问题，我们会协助您解决。</p>
				</div>
				<div class="col-lg-3 do-all all4">
					<div class="text-center icon-box">
						<i class="fa fa-user icon-pages"></i>
					</div>
					<h3 class="text-center all1-head"><strong>VIP服务</strong></h3>
					<p class="do-p-a2">从网站建设到网络营销启动直至运营阶段，提供1对1专属沟通服务。7X24小时服务随时响应，主动并且定期的电话回访，持续跟踪解决客户的问题，只要网站有问题，我们会协助您解决。</p>
				</div>
			</div>
		</div>
	</section>


<!-- ==========================================
	服务
=================================== -->
		<script type="text/javascript" src="/templetes/<%= @templete%>/js/libs/jquery-min.js"></script> 
		<script type="text/javascript" src="/templetes/<%= @templete%>/js/jquery.roundabout-1.0.min.js"></script> 
		<script type="text/javascript" src="/templetes/<%= @templete%>/js/jquery.easing.1.3.js"></script>
		<script type="text/javascript">		
			$(document).ready(function() { 
				$('#featured-area ul').roundabout({
					easing: 'easeOutInCirc',
					duration: 600
				});
			});
		</script> 

<section id="<%= nav_id[1]%>" class="white-bg padding-top-bottom">
	<h2 class="text-center section-title" style="color:#333;margin-bottom:90px">
		建站﹢推广﹢孵化代运营服务
		<p><span style="font-size:17px;">Site + promotion + incubator operation services</span></p>
	</h2>

	<div class="row" style="background:#38a5db;">
		<img src="/templetes/<%= @templete%>/assets/setup.png" class="img-responsive" style="margin:0 auto;">
	</div>

</section>

<!-- ==============================================
PORTFOLIO
=============================================== -->		
<section id="<%= nav_id[2]%>" class="gray-bg padding-top-bottom poro" >
	<div class="container">
		<h1 class="section-title">案例</h1>
		<p class="section-description">CASE</p>
		<div class="projects-container scrollimation">
			<div class="row poro_1">
				<% Admin::Page.where(channel_id:3).recent(6).each do |page| %>		
					<article class="col-md-4 col-sm-6 project-item web-design apps psd">
						<div class="project-thumb">
							<span class="main-link">
								<img class="img-responsive img-center" src="<%= page.image_path.sub(/\.(jpg|png)$/,'_lit.\1') %>" alt="<%= page.description %>" />
								<h2 class="project-title">
									<%= page.title %>
								</h2>
								<span class="overlay-mask"></span>
							</span>
							<a class="enlarge" href="<%= page.image_path %>" title="<%= page.title %>">
								<i class="fa fa-expand fa-fw"></i>
							</a>
							<a class="link" href="<%= get_url(page) %>">
								<i class="fa fa-eye fa-fw"></i>
							</a>
						</div>
					</article>
				<% end %>
			</div>
		</div>
		<p class="text-center">		
			<a class="btn btn-qubico" href="<%= get_url(Admin::Channel.find_by(id:3))%>">
				<i class="fa fa-plus-circle"></i>
				更多案例
			</a>
		</p>

	</div>
	<!-- End container -->		

	<!--End #project-preview panel-->		
</section>

<!-- ==============================================
NEWS
=============================================== -->	
<section  class="white-bg padding-top-bottom">
	<div class="container">
		<h1 class="section-title">行业新闻·动态</h1>
		<p class="section-description">NEWS</p>
		<div class="timeline">
			<% Admin::Page.recent(4).each_with_index do |page,i| %>
  			<!-- 显示的新闻数目 -->
				<% if i % 2 == 0 %>
				  <div class='row'>
				<% end %>
  				<div class="col-sm-6 news-item  <%= i % 2 == 0 ?  "left" : 'right' %> scrollimation fade-up">
  					<div class="news-content">
  						<div class="date"  style="border:1px solid #ccc">
  							<a class="colorbox" href="<%= page.image_path%>" style="overflow: hidden;">
  								<img class="img-responsive" src="<%= page.image_path.sub(/\.(jpg|png)$/,'_lit.\1')%>" alt=""/ height="100px">
  							</a>
  						</div>
  						<h2 class="news-title"><%= page.title %></h2>
  						<div class="news-media"></div>
  						<p><a href="<%= get_url(page) %>" style="color:#000"><%= page.description.truncate(80) %>&hellip;</a></p>
  						<a class="read-more" href="<%= get_url(page) %>">点击详情</a>
  						&nbsp;
  						<span style="font-size:12px"><%= page.updated_at%></span>
  					</div>
  				</div>
  			<% if i % 2 == 1 %>
				</div>
				<% end %>
			<% end %>
		</div>
		<p class="text-center">
			<!-- <a class="btn btn-qubico" href="#" title="点击显示更多">MORE</a> -->
		</p>
		<!-- 每一列显示固定数目新闻列；点击加载下一页新闻列表 -->
	</div>
</section>	
</div> 	
<%= render file:  'public/templetes/'+@templete+'/_footer.html' %>


