<%= render file: 'public/templetes/'+@templete+'/_header.html' %>
<%= render file:  'public/templetes/'+@templete+'/_right.html' %>
	<section id="services" class="white-bg padding-top-bottom">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<P><h2><strong><%= @page.title %></strong></h2></P>
					<hr/>
					
					<%=raw @page.content %>
				</div>
				<div class="col-lg-4">
					<%= render file:'public/templetes/meetiao/_slider.html'%>
				</div>
			</div>
		</div>
	</section>

	

<%= render file: 'public/templetes/'+@templete+'/_footer.html' %>