<% templete_v='public/templetes/'+ Admin::Keystore.find(id=1).value %>
<%= render file: templete_v+'/_header.html' %>

<section  class="white-bg padding-top-bottom">
	<div class="container">
		<h1 class="section-title">服务</h1>
		<p class="section-description">
						专业的互联网服务解决方案提供商和网络营销服务专家
						<br/>		
						为客户提供一体化的互联网全网营销解决方案
					</p>
		<div class="row services">
					<% icon_fade=[["comments","globe","edit","desktop","cog","coffee","wrench","magic"],["fade-left d2","fade-left ","fade-right  d2","fade-right"]] %>
					<%Admin::Page.where(channel_id:'2').each_with_index do |page,m|%>
						<% if m%3==0%>
							<div class="row">
						<% end %>
								<div class="col-sm-4 item text-center scrollimation <%= icon_fade[1][m] %>" >
									<div class="icon moveto"> <i class="fa fa-<%=icon_fade[0][m]%>"></i>
									</div>
									<h3>
										<a href="<%= get_url(page) %>">
											<%= page.title %>
										</a>
									</h3>
									<p title="<%= page.description%>">
										<%= page.description.truncate(30)%></p>
								</div>
						<% if (m+1)%3==0%>
							</div>
						<% end%>
					<% end %>
		</div>
		<hr>
	</div>
</section>
<%= render file: templete_v+'/_footer.html' %>
