<%= render file:  'public/templetes/'+@templete+'/_header.html' %>
<header class="light-typo padding-top">

	<div class="container color-bg text-center">
		<p>
				<h2> <strong><%= @page.title %></strong>
				</h2>
			</p>
	</div>
	<!--End container -->

</header>
<!--End header -->

<div class="container">
	<div class="row">
		<div class="col-lg-9 col-md-12">
			

			<hr/>
			<%=raw @page.content %></div>
		<div class="col-lg-3 col-md-12">
			<%= render file:'public/templetes/'+@templete+'/_slider.html'%></div>
	</div>
</div>

<%= render file:  'public/templetes/'+@templete+'/_footer.html' %>