<%= render file: 'public/templetes/meetiao/_header.html' %>

<section id="services" class="white-bg padding-top-bottom">
	<div class="container">
		<div class="row">
			<div class="col-lg-9 col-md-12">
				<p>
					<h2> <strong><%= @channel.title %></strong>
					</h2>
				</p>
				<hr/>
				<%=raw @channel.content %></div>
			<div class="col-lg-3 col-md-12">
				<%= render file:"public/templetes/meetiao/_slider.html"%>
			</div>
	</div>
</div>
</section>

<section id="pricing" class="padding-top-bottom">
<div class="container">
	<div class="row pricing">
		<div class="col-lg-10 col-lg-offset-1">
			<div class="col-sm-3 text-center scrollimation fade-left">
				<div class="item">
					<p class="icon">
						<img src="/templetes/meetiao/assets/blog/bicycle_ride_thumb.jpg" class="img-responsive" style="border-radius:50%;display:block;width:100%;height:100%"></p>
					<p style="font-size: 22px;">中意坤4</p>
					<p style="font-size: 22px;">设计师</p>
					<p style="font-size: 22px;">程序员</p>
					<p style="font-size: 13px;">他是一名很强大的程序员，多年的开发经验，专业的开发语言，严谨的开发习惯</p>
				</div>
				<!-- End Pricing Item -->
			</div>
			<div class="col-sm-3 text-center scrollimation fade-left">
				<div class="item">
					<p class="icon">
						<img src="/templetes/meetiao/assets/blog/bicycle_ride_thumb.jpg" class="img-responsive" style="border-radius:50%;display:block;width:100%;height:100%"></p>
					<p style="font-size: 22px;">中意坤4</p>
					<p style="font-size: 22px;">设计师</p>
					<p style="font-size: 22px;">程序员</p>
					<p style="font-size: 13px;">他是一名很强大的程序员，多年的开发经验，专业的开发语言，严谨的开发习惯</p>
				</div>
				<!-- End Pricing Item -->
			</div>
			<div class="col-sm-3 text-center scrollimation fade-left">
				<div class="item">
					<p class="icon">
						<img src="/templetes/meetiao/assets/blog/bicycle_ride_thumb.jpg" class="img-responsive" style="border-radius:50%;display:block;width:100%;height:100%"></p>
					<p style="font-size: 22px;">中意坤4</p>
					<p style="font-size: 22px;">设计师</p>
					<p style="font-size: 22px;">程序员</p>
					<p style="font-size: 13px;">他是一名很强大的程序员，多年的开发经验，专业的开发语言，严谨的开发习惯</p>
				</div>
				<!-- End Pricing Item -->
			</div>
			<div class="col-sm-3 text-center scrollimation fade-left">
				<div class="item">
					<p class="icon">
						<img src="/templetes/meetiao/assets/blog/bicycle_ride_thumb.jpg" class="img-responsive" style="border-radius:50%;display:block;width:100%;height:100%"></p>
					<p style="font-size: 22px;">中意坤4</p>
					<p style="font-size: 22px;">设计师</p>
					<p style="font-size: 22px;">程序员</p>
					<p style="font-size: 13px;">他是一名很强大的程序员，多年的开发经验，专业的开发语言，严谨的开发习惯</p>
				</div>
				<!-- End Pricing Item -->
			</div>
		</div>

	</div>
	<!-- End row -->

</div>
<!-- End container -->
</section>

<%= render file: 'public/templetes/meetiao/_footer.html' %>