<%= render file:  'public/templetes/'+@templete+'/_header.html' %>
<% nav_id=Admin::Channel.where(id:[1,2,3,4]).map(&:short_title) %>
		<!-- ==============================================
		HEADER
			
		=============================================== -->		
		<header id="<%= nav_id[0]%>" class="jumbotron">
<!-- text1chen -->
			<div id="sequence-theme">

				<div id="sequence" class="perspective multilayer">

					<ul class="controls">
						<li class="sequence-prev"> <i class="fa fa-angle-left fa-fw"></i>
						</li>
						<li class="sequence-next"> <i class="fa fa-angle-right fa-fw"></i>
						</li>
					</ul>

					<ul class="sequence-canvas container">
						<li>
							<div class="message slow">
								<h2 class="title">专业网站建设</h2>
								<p>
									专注网站建设,为您提供业界领先的网站制作,网站设计,由资深设计师,专业架构师,经验丰富的开发团队,完善的售后服务全程为您护航
								</p>
							</div>
							<div class="perspective-view">
								<div class="single-image in-from-top-z fast">
									<img class="img-responsive" src="/templetes/<%= @templete%>/assets/slider/perspective/slide1-layer1.png" alt="" />		
								</div>
								<div class="single-image in-from-top-z fast delay1">
									<img class="img-responsive" src="/templetes/<%= @templete%>/assets/slider/perspective/slide1-layer2.png" alt="" />		
								</div>
								<div class="single-image in-from-top-z fast delay2">
									<img class="img-responsive" src="/templetes/<%= @templete%>/assets/slider/perspective/slide1-layer3.png" alt="" />		
								</div>
								<div class="single-image in-from-top-z fast delay3">
									<img class="img-responsive" src="/templetes/<%= @templete%>/assets/slider/perspective/slide1-layer4.png" alt="" />		
								</div>
								<div class="single-image in-from-top-z fast delay4">
									<img class="img-responsive" src="/templetes/<%= @templete%>/assets/slider/perspective/slide1-layer5.png" alt="" />		
								</div>
							</div>
						</li>
						<li>
							<div class="message slow">
								<h2 class="title in-from-top slow">APP开发及应用软件开发</h2>
								<p class="in-from-bottom slow delay1">App开发，是指专注于手机应用软件开发与服务。 App是application的缩写，通常专指手机上的应用软件，或称手机客户端。另外目前有很多在线app开发平台。</p>
							</div>
							<div class="perspective-view">
								<div class="image-top in-from-top-z fast">
									<img class="img-responsive" src="/templetes/<%= @templete%>/assets/slider/perspective/slide2-layer1.png" alt="" />		
								</div>
								<div class="image-top in-from-top-z fast delay1">
									<img class="img-responsive" src="/templetes/<%= @templete%>/assets/slider/perspective/slide2-layer2.png" alt="" />		
								</div>
								<div class="image-top in-from-top-z fast delay2">
									<img class="img-responsive" src="/templetes/<%= @templete%>/assets/slider/perspective/slide2-layer3.png" alt="" />		
								</div>
								<div class="image-bottom in-from-top-z fast delay3">
									<img class="img-responsive" src="/templetes/<%= @templete%>/assets/slider/perspective/slide2-layer4.png" alt="" />		
								</div>
								<div class="image-bottom in-from-top-z slow delay4">
									<img class="img-responsive" src="/templetes/<%= @templete%>/assets/slider/perspective/slide2-layer5.png" alt="" />		
								</div>
								<div class="image-bottom in-from-top-z fast delay4">
									<img class="img-responsive" src="/templetes/<%= @templete%>/assets/slider/perspective/slide2-layer6.png" alt="" />		
								</div>
								<div class="image-bottom in-from-top-z fast delay5">
									<img class="img-responsive" src="/templetes/<%= @templete%>/assets/slider/perspective/slide2-layer7.png" alt="" />		
								</div>
							</div>
						</li>
						<li>
							<div class="message slow">
								<h2 class="title in-from-left slow">SEO优化</h2>
								<p class="in-from-left slow delay1">网站内部调整优化及站外优化，网站满足搜索引擎收录排名需求，在搜索引擎中提高关键词排名，从而把精准用户带到网站</p>
							</div>
							<div class="perspective-view">
								<div class="image-right in-from-top-z fast delay1">
									<img class="img-responsive" src="/templetes/<%= @templete%>/assets/slider/perspective/slide3-layer1.png" alt="" />		
								</div>
								<div class="image-right in-from-top-z fast delay3">
									<img class="img-responsive" src="/templetes/<%= @templete%>/assets/slider/perspective/slide3-layer2.png" alt="" />		
								</div>
								<div class="image-right in-from-top-z fast delay4">
									<img class="img-responsive" src="/templetes/<%= @templete%>/assets/slider/perspective/slide3-layer3.png" alt="" />		
								</div>
								<div class="image-right in-from-top-z fast delay5">
									<img class="img-responsive" src="/templetes/<%= @templete%>/assets/slider/perspective/slide3-layer4.png" alt="" />		
								</div>
								<div class="image-left in-from-top-z fast">
									<img class="img-responsive" src="/templetes/<%= @templete%>/assets/slider/perspective/slide3-layer5.png" alt="" />		
								</div>
								<div class="image-left in-from-top-z fast delay2">
									<img class="img-responsive" src="/templetes/<%= @templete%>/assets/slider/perspective/slide3-layer6.png" alt="" />		
								</div>
								<div class="image-left in-from-top-z fast delay4">
									<img class="img-responsive" src="/templetes/<%= @templete%>/assets/slider/perspective/slide3-layer7.png" alt="" />		
								</div>
							</div>
						</li>
					</ul>

				</div>

			</div>
		</header>
		<!--End header -->		

		<!-- ==============================================
		SERVICES
		=============================================== -->		
		<section id="<%= nav_id[1]%>" class="white-bg padding-top-bottom">
			<div class="container">
				<h1 class="section-title">服务</h1>
				<p class="section-description">
					专业的互联网服务解决方案提供商和网络营销服务专家
					<br/>		
					为客户提供一体化的互联网全网营销解决方案
				</p>
				<div class="row services">
					<% icons_fade=[["comments","globe","edit","desktop"],["fade-right d2","fade-right","fade-left","fade-left d2"]]%>
					<% Admin::Page.where(channel_id:2).recent(3).each_with_index do |page,i|%>		
						<div class="col-sm-4 item text-center scrollimation <%= icons_fade[1][i]%>">
							<div class="icon moveto">
								<i class="fa fa-<%=icons_fade[0][i]%>"></i>
							</div>
							<h3>
								<a href="<%= get_url(page)%>" class="movetourl">
									<%= page.title %>
								</a>
							</h3>
							<p title="<%= page.description%>">
								<%= page.description.truncate(50)%></p>
						</div>	
					<%  end %>
				</div>			
				<p class="text-center">					
					<a class="btn btn-qubico" href="/services">
						<i class="fa fa-plus-circle"></i>
						了解更多
					</a>
				</p>
			</div>

		</section>

		<!-- ==============================================
		PORTFOLIO
		=============================================== -->		
		<section id="<%= nav_id[2]%>" class="gray-bg padding-top-bottom poro" >
			<div class="container">
				<h1 class="section-title">案例</h1>
				<p class="section-description">我们的作品</p>
				<div class="projects-container scrollimation">
					<div class="row poro_1">
						<% Admin::Page.where(channel_id:3).recent(3).each do |page| %>		
							<article class="col-md-4 col-sm-6 project-item web-design apps psd">
								<div class="project-thumb">
									<span class="main-link">
										<img class="img-responsive img-center" src="<%= page.image_path %>" alt="<%= page.description %>" />
										<h2 class="project-title">
											<%= page.title %>
										</h2>
										<span class="overlay-mask"></span>
									</span>
									<a class="enlarge" href="<%= page.image_path %>" title="<%= page.title %>">
										<i class="fa fa-expand fa-fw"></i>
									</a>
									<a class="link" href="<%= get_url(page) %>">
										<i class="fa fa-eye fa-fw"></i>
									</a>
								</div>
							</article>
						<% end %>
					</div>
					<!-- End Row -->		
				</div>
				<!-- End Projects Container -->		

				<p class="text-center">		
					<a class="btn btn-qubico" href="<%= get_url(Admin::Channel.where(id:'3'))%>">
						<i class="fa fa-plus-circle"></i>
						更多案例
					</a>
				</p>

			</div>
			<!-- End container -->		

			<!--End #project-preview panel-->		

		</section>

		<!-- ==============================================
		NEWS
		=============================================== -->		

		<section id="<%= nav_id[3]%>" class="white-bg padding-top-bottom">
			<div class="container">
				<h1 class="section-title">
					<%= Admin::Channel.where(short_title:'news')[0].title%></h1>
				<p class="section-description">我们的足迹</p>
				<div class="timeline">
					<div class="date-title">
						<span>最新资讯</span>
					</div>					
					<%Admin::Page.where(channel_id:4).recent(2).each_with_index do |page,i|%>
						<% if i%2==0%>
							<div class='row'>
						<% end%>
								<div class="col-sm-6 news-item  <%= i%2==0 ?  "left" : 'right' %>
									scrollimation fade-up">
									<div class="news-content">
										<div class="date">
											<a class="colorbox" href="/templetes/<%= @templete%>assets/blog/bicycle_ride.jpg">
												<img class="img-responsive" src="/templetes/<%= @templete%>assets/blog/bicycle_ride_thumb.jpg" alt="" />	
											</a>
										</div>
										<h2 class="news-title">
											<%= page.title%>
										</h2>
										<div class="news-media"></div>
										<p>
											<%= page.description.truncate(60)%>&hellip;
										</p>
										<a class="read-more" href="<%= get_url(page)%>">点击详情
										</a>
										&nbsp;
										<span style="font-size:12px">
											<%= page.updated_at%>
										</span>
									</div>
								</div>
						<% if i%2==1%>
							</div>
						<% end%>
					<%end%>
				</div>
				<p class="text-center">
					<a class="btn btn-qubico" href="<%=Admin::Channel.find_by(short_title:'news').short_title%>" title="点击-更多资讯"><i class="fa fa-plus-circle"></i>更多资讯</a>
				</p>
			</div>
		</section>
		<!-- ==============================================
		CONTACT
		=============================================== -->		
<%= render file:  'public/templetes/'+@templete+'/_footer.html' %>