<%= render file: 'public/templetes/'+@templete+'/_header.html' %>
<!--container header -->
<header class="padding-top container text-right">
	<div class="col-md-8 h3">
		案例：<strong><%= @page.title %></strong><br>
		<a href="<%= @page.external_url%>" style="font-size:14px;text-decoration:1px"><%= @page.external_url%></a>
	</div>
</header>
<!--End container header -->

<div class="container">
	<div class="row">
		<div class="col-lg-9 col-md-12">
			<hr/>
			<p> <strong>摘要：</strong><%= @page.description %>
			</p>
			<hr/>
			<p> <strong>发布时间:</strong>
				<%= @page.created_at.year %>
				年
				<%= @page.created_at.month %>
				月
				<%= @page.created_at.day %>
				日
				<br>
				<strong>关键词:</strong>
				<%= @page.keywords.length< 1 ? "无" : @page.keywords%>
			</p>
			<hr/>
			<%=raw @page.content %>
		</div>
		<div class="col-lg-3 col-md-12">
			<%= render file: 'public/templetes/'+@templete+'/_slider.html' %>
		</div>
	</div>
</div>

<%= render file: 'public/templetes/'+@templete+'/_footer.html' %>