<%= render file:  'public/templetes/'+@templete+'/_header.html' %>
<% nav_id=Admin::Channel.where(id:[1,2,3,4]).map(&:short_title) %>
		<!-- ==============================================
		HEADER
		=============================================== -->		
		<header id="<%= nav_id[0]%>" class="jumbotron">
			<div id="sequence-theme">
				<div id="sequence" class="perspective multilayer">
					<ul class="controls">
						<li class="sequence-prev"> <i class="fa fa-angle-left fa-fw"></i>
						</li>
						<li class="sequence-next"> <i class="fa fa-angle-right fa-fw"></i>
						</li>
					</ul>
					<ul class="sequence-canvas container">
						<% Admin::Page.where("`channel_id`='9'").all.each do |page| %>
							<li>
								<div class="message slow">
									<h2 class="title in-from-left slow"><%= page.title %></h2>
									<p class="in-from-bottom slow delay1"><%= page.description %></p>
								</div>
								<div class="perspective-view">
									<div class="image-top in-from-top-z fast">
										<img class="img-responsive" src="/templetes/<%= @templete%>/assets/slider/perspective/slide2-layer1.png" alt="" />		
									</div>
									<div class="image-top in-from-top-z fast delay1">
										<img class="img-responsive" src="/templetes/<%= @templete%>/assets/slider/perspective/slide2-layer2.png" alt="" />		
									</div>
									<div class="image-top in-from-top-z fast delay2">
										<img class="img-responsive" src="/templetes/<%= @templete%>/assets/slider/perspective/slide2-layer3.png" alt="" />		
									</div>
									<div class="image-bottom in-from-top-z fast delay3">
										<img class="img-responsive" src="/templetes/<%= @templete%>/assets/slider/perspective/slide2-layer4.png" alt="" />		
									</div>
									<div class="image-bottom in-from-top-z slow delay4">
										<img class="img-responsive" src="/templetes/<%= @templete%>/assets/slider/perspective/slide2-layer5.png" alt="" />		
									</div>
									<div class="image-bottom in-from-top-z fast delay4">
										<img class="img-responsive" src="/templetes/<%= @templete%>/assets/slider/perspective/slide2-layer6.png" alt="" />		
									</div>
									<div class="image-bottom in-from-top-z fast delay5">
										<img class="img-responsive" src="/templetes/<%= @templete%>/assets/slider/perspective/slide2-layer7.png" alt="" />		
									</div>
								</div>
							</li>
						<% end %>
					</ul>
				</div>
			</div>
		</header>
		<!--End header -->		
		<!-- ==============================================
		打造更省钱 更赚钱的餐饮行业营销型网站
		=============================================== -->	
		<div class="container">
			<p>
				<h2 class="text-center" style="color:#333;">
					<strong>打造更赚钱的<span style="font-size:40px;color:#F05557;">餐饮行业营销型网站</span></strong>
					<span style="display:block;color:#333;font-size:25px;font-weigth:normal;">美调科技 营销型网站始创者、标准制定者</span>
				</h2>
			</p>
			<div class="row">
				<div class="col-lg-6 col-xs-12">
					<img src="/templetes/meetiao/assets/dda.jpg" class="img-responsive">
				</div>
				<div class="col-lg-6 col-xs-12" style="padding-right:150px;">
					<p class="text-right" style="color:#bcbcbc;font-size:25px;text-transform: uppercase;">more money</p>
					<p class="text-right" style="font-size:40px;color:#000;"><strong>更赚钱</strong><i class=""></i></p>
					<p class="text-right" style="font-size:25px;color:#000;">同样的流量更多的询盘<br>比传统网页高20倍</p>
					<p>
						<span class="text-right" style="display:block;color:#696969;font-size:15px;">
							什么产品、卖给谁、怎么卖
							<i class="fa fa-star"></i>
						</span>
						<span class="text-right" style="display:block;color:#696969;font-size:15px;">
							你的优势、客户的好处
							<i class="fa fa-star"></i>
						</span>
						<span class="text-right" style="display:block;color:#696969;font-size:15px;">
							六大核心定位系统快速锁定、打动你的目标客户
							<i class="fa fa-star"></i>
						</span>
						<span class="text-right" style="display:block;color:#696969;font-size:15px;">
							把空洞的“高大上”转变为切实的营销力
							<i class="fa fa-star"></i>
						</span>
						<span class="text-right" style="display:block;color:#696969;font-size:15px;">
							吸引询盘，让你更赚钱
							<i class="fa fa-star"></i>
						</span>
					</p>
				</div>
			</div>
		</div>

		<!-- ==============================================
		SERVICES
		=============================================== -->		
		<section id="<%= nav_id[1]%>" class="white-bg padding-top-bottom">
			<div class="container">
				<h1 class="section-title">服务</h1>
				<p class="section-description">
					专业的互联网服务解决方案提供商和网络营销服务专家
					<br/>		
					为客户提供一体化的互联网全网营销解决方案
				</p>
				<div class="row services">
					<% icons_fade=[["comments","globe","edit","desktop"],["fade-right d2","fade-right","fade-left","fade-left d2"]]%>
					<% Admin::Page.where(channel_id:2).recent(3).each_with_index do |page,i|%>		
						<div class="col-sm-4 item text-center scrollimation <%= icons_fade[1][i]%>">
							<div class="icon moveto">
								<i class="fa fa-<%=icons_fade[0][i]%>"></i>
							</div>
							<h3>
								<a href="<%= get_url(page)%>" class="movetourl">
									<%= page.title %>
								</a>
							</h3>
							<p title="<%= page.description%>">
								<%= page.description.truncate(50)%></p>
						</div>	
					<%  end %>
				</div>			
				<p class="text-center">					
					<a class="btn btn-qubico" href="/services">
						<i class="fa fa-plus-circle"></i>
						了解更多
					</a>
				</p>
			</div>
		</section>
		<!-- ==============================================
		PORTFOLIO
		=============================================== -->		
		<section id="<%= nav_id[2]%>" class="gray-bg padding-top-bottom poro" >
			<div class="container">
				<h1 class="section-title">案例</h1>
				<p class="section-description">我们的作品</p>
				<div class="projects-container scrollimation">
					<div class="row poro_1">
						<% Admin::Page.where(channel_id:3).recent(3).each do |page| %>		
							<article class="col-md-4 col-sm-6 project-item web-design apps psd">
								<div class="project-thumb">
									<span class="main-link">
										<img class="img-responsive img-center" src="<%= page.image_path %>" alt="<%= page.description %>" />
										<h2 class="project-title">
											<%= page.title %>
										</h2>
										<span class="overlay-mask"></span>
									</span>
									<a class="enlarge" href="<%= page.image_path %>" title="<%= page.title %>">
										<i class="fa fa-expand fa-fw"></i>
									</a>
									<a class="link" href="<%= get_url(page) %>">
										<i class="fa fa-eye fa-fw"></i>
									</a>
								</div>
							</article>
						<% end %>
					</div>
						
				</div>
				

				<p class="text-center">		
					<a class="btn btn-qubico" href="<%= get_url(Admin::Channel.where(id:'3'))%>">
						<i class="fa fa-plus-circle"></i>
						更多案例
					</a>
				</p>

			</div>
			<!-- End container -->		

			<!--End #project-preview panel-->		
		</section>

<%= render file:  'public/templetes/'+@templete+'/_footer.html' %>